<form>
    <p>name<p>
    <input type = "text" name = "user_name"></p>
    <p>password<p>
    <input type = "password" name = "password"></p>
</form>
<p><button>Login</button></p>
<p><button>Resiser</button></p>

